:root {
  --sidebar-background-color: #1992d4;
  --sidebar-font-color: #ffffff;
  --header-background-color: #ffffff;
  --main-background-color: #e2e8f0;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  margin: 0;
}

/* Sidebar */

.sidebar {
  display: grid;
  grid-area: sidebar;
  grid-template-rows: 76px 1fr;
  background-color: var(--sidebar-background-color);
}

.logo {
  display: grid;
  align-items: center;
}

.logo a {
  display: grid;
  grid-template-columns: 32px 1fr;
  padding: 0 32px;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  color: var(--sidebar-font-color);
  font-size: 1.2rem;
}

.sidebar a {
  text-decoration: none;
}

.logo a img {
  width: 36px;
}

.sidebar ul {
  padding: 0;
}

.sidebar-link {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  padding: 0 32px;
  color: var(--sidebar-font-color);
  font-size: 1rem;
}

/* Header */

header {
  display: grid;
  grid-area: header;
  background-color: var(--header-background-color);
}

/* Main */

main {
  display: grid;
  grid-area: main;
  background-color: var(--main-background-color);
}
